*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px 100px;
    background-color: black;
}
h1{
    font-size: 40px;
    text-align: center;
    background-color: #0067B0;
    color: white;
    padding: 10px;
    margin: 0;
}
#textbox{
    width: 100%;
    border: 1px solid  #0067B0;
    font-size: 20px;
    margin: 0;
    padding: 15px;
}
p{
    background-color:  #0067B0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
    
}